body {
    width: 100%;
    margin: 0;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
}

body h1{
    color:white;
}

body a {
    color: inherit;
    text-decoration: none;
}

body a:hover {
    color: inherit;
    text-decoration: underline;
}

body p{
    margin:0;
}

body label{
    color:white;
}

.big{
    font-size:1.5em;
}

.text-small{
    font-size:0.7em;
}

.my-container {
    width: 100%;
    height: 100%;
    padding-left: 16rem;
    display: flex;

}

.reg-container {
    width: 100%;
    margin: auto;
    color: white;
}

.reg-container input {
    width: 30%;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-danger {

    background-color: #1999c7;
    border: none;
    color: white;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:visited {

    background-color: #1999c7;
    border: none;
    color: white;

}

.btn-link{
    color:white;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:visited{
    color:white;
}

.menu {
    position: fixed;
    height: 100%;
    width: 8rem;
    border-right: 2px solid white;
    z-index: 999;
}

.menu-item {
    width: 4rem;
    height: 4rem;
    margin-left: 6rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    line-height: 4rem;
    background: white;
    margin-top: 3rem;
    display: flex;
    padding-top: 0.6rem;
}

.menu-item:hover {
    background: #d1d1d1;
}

.menu-item p {
    width: 100%;
    text-align: center;
}

.number {
    font-size: 2.3em;
}

/* Прямоугольник на главной странице */
.about {
    width: 40%;
    height: auto;
    min-height: 100%;
    margin-left: 30%;
    margin-top: -6rem;
    background: transparent;
    z-index: 998;
}

.about-roof {
    width: 100%;
    height: 6rem;
    background: white;
    border: 2px solid white;
    border-radius: 3rem 3rem 0 0;
    border-bottom: none;
}

.about-roof:hover {
    background: #d1d1d1;
}

.about-container {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 2px;
    border-top: none;
    border-bottom: none;
    color: white;
    font-size: 1.2em;
    padding: 5rem 1rem 5rem 1rem;
}


/* SLIDER */
#slides {
    position: relative;
    background: black;
    list-style-type: none;
    background-size: cover;
    color: #ffffff;
    padding-bottom: 7em;
    text-align: center;
    height: 100vh;
}


#slides :last-child {
    margin-bottom: 0;
}

#slides h2 {
    color: #ffffff;
    font-size: 4em;
    line-height: 1.25em;
    padding-top: 40vh;
}

#slides p {
    font-size: 1.5em;
    margin-bottom: 1.75em;
}


.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/


.slide {
    padding-top: 0;
    padding-left: 16rem;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background-image: url(/img/sl1.jpg), url(/img/dark_tint.png);
    background-size: cover;
    background-blend-mode: overlay;
}

.slide:nth-of-type(2) {
    background-image: url(/img/sl2.jpg), url(/img/dark_tint.png);
    background-size: cover;
    background-blend-mode: overlay;
}

.slide:nth-of-type(3) {
    background-image: url(/img/sl3.jpg), url(/img/dark_tint.png);
    background-size: cover;
    background-blend-mode: overlay;
}

.slide:nth-of-type(4) {
    background-image: url(/img/sl4.jpg), url(/img/dark_tint.png);
    background-size: cover;
    background-blend-mode: overlay;
}

.slide:nth-of-type(5) {
    background-image: url(/img/sl5.jpg), url(/img/dark_tint.png);
    background-size: cover;
    background-blend-mode: overlay;
}


/* PROFILE */

.profile-container {
    width: 100%;
    min-height: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);
}

.profile-inner-container{
    width:100%;
    height:100%;
    display:flex;
}

.profile-picture{
    width: 50vh;
    height: 50vh;
    margin:auto;
}

.profile-picture-container{
    width:50%;
    height:100%;
    display:flex;
}

.profile-main{
    min-height:100%;
    width:80%;
    display:flex;
    margin:auto;
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    font-size: 1.2em;
    padding: 5rem 1rem 5rem 1rem;
}

.profile-main-container{
    width:50%;
    padding-left:16rem;
    display:flex;
}

.profile-main-text{
    margin:auto;
}

.profile-main-text p{
    margin-bottom:1rem;
}

/* INPUT */


#namer {
    position: relative;
    width: 30%;
    margin-bottom:1.5rem;
}

#namer input {
    border: 0;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 1rem;
    line-height: 35px;
    height: 70px;
    text-align: left;
    padding: 10px 10px 0;
    background: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    font-weight: 300;
}

#namer input:hover{
    cursor:text;
}

#namer input:focus {
    outline: 0;
    color: white;
}

#namer input::placeholder {
    color: white;
}

#namer-input.modern input {
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 10px;
}



/* FEED */

.feed-container{
    width:100%;
    padding-left:16rem;
    padding-top:5rem;
    display:flex;
}

.feed{
    width:100%;
    margin:auto;
    padding-right:8rem;
}

.post{
    border:2px solid white;
    border-radius:0.5rem;
    color:white;
    margin-bottom:3rem;
    display:block;
    font-size:1.3em;
}
.post img{
    border-top-left-radius: 0.3rem;
}

.post-text{
    margin-top:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
    padding-right:1rem;
}

/* */
.post-container {
    min-height: 100%;
    height:auto;
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    color: white;
    font-size: 1.2em;
    padding: 7rem 1rem 7rem 1rem;
    width:50%;
    margin-left:25%;
}


.post-container img{
    float:left;
    margin: 0 2rem 0 0;
}


.post-container p{
    margin-top:2rem;
    margin-bottom:1rem;
}

.comment{
    display: block;
    width:100%;
    padding-right:1rem;
    padding-left:1rem;
    margin-top:2rem;
}


.comment-content{
    padding-left:1rem;
    display: block;
}

.comment img{
    width:100%;

}

.comment-area{
    background: transparent;
    border:2px solid white;
    color:white;
    width:100%;
    margin-bottom:1rem;
}


.comment-data{
    padding-top:1rem;
}